<html ng-app="index">

<head>
    <link rel="stylesheet" type="text/css" href="public/lib/bootstrap/dist/css/bootstrap.min.css">
   <!-- <link rel="stylesheet" type="text/css" href="modules/core/client/css/nav.css">-->
</head>

<body ng-controller="baseCtrl">


<script src="public/lib/angular/angular.min.js"></script>
<script src="public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="public/lib/angular-route/angular-route.min.js"></script>
<script src="modules/core/client/controllers/core.client.controller.js"></script>
<script src="modules/core/client/routes/core.client.routes.js"></script>
<script src="modules/core/client/services/core.client.services.js"></script>

</body>

</html>